<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687777012143-irp16n1j46j60vr3bdubuk5pa13931d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687777012143-irp16n1j46j60vr3bdubuk5pa13931d8</string>
	<key>API_KEY</key>
	<string>AIzaSyA_VxMrT896vdwzWQ5M3CI1ENensBMgxI8</string>
	<key>GCM_SENDER_ID</key>
	<string>687777012143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fred.MyShop</string>
	<key>PROJECT_ID</key>
	<string>myshop-2acea</string>
	<key>STORAGE_BUCKET</key>
	<string>myshop-2acea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687777012143:ios:45ae9ebcacceebae8df75a</string>
	<key>DATABASE_URL</key>
	<string>https://myshop-2acea.firebaseio.com</string>
</dict>
</plist>